﻿
@model CMS.Data.Entities.CategoryProduct

<div class="container mt-4" style="max-width:700px;">

    <h2 class="text-success mb-3">
        THÊM DANH MỤC
    </h2>

    <form asp-action="Create" method="post">
        <input asp-for="Name" class="form-control mb-3" placeholder="Tên danh mục" />
        <textarea asp-for="Description" class="form-control mb-3" rows="4" placeholder="Mô tả"></textarea>
        <button type="submit" class="btn btn-success">Lưu </button>
        <a asp-action="Index" class="btn btn-secondary">Hủy</a>
    </form>
</div>