@{
    Layout = "_LayoutAdmin";
}
@model CMS.Data.Entities.Product

<h2 class="text-success">THÊM SẢN PHẨM</h2>

<form asp-action="Create"
      method="post"
      enctype="multipart/form-data">

    <div class="mb-3">
        <label asp-for="Name" class="form-label fw-bold"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="CategoryProductId"
               class="form-label fw-bold"></label>

        <select asp-for="CategoryProductId"
                class="form-select"
                asp-items="ViewBag.Categories">
            <option value="">-- Chọn danh mục --</option>
        </select>

        <span asp-validation-for="CategoryProductId"
              class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Price" class="form-label fw-bold"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="StockQuantity"
               class="form-label fw-bold"></label>

        <input asp-for="StockQuantity"
               class="form-control" />

        <span asp-validation-for="StockQuantity"
              class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description"
               class="form-label fw-bold"></label>

        <textarea asp-for="Description"
                  class="form-control"
                  rows="5"></textarea>
    </div>

    <div class="mb-3">
        <label class="form-label fw-bold">
            Ảnh sản phẩm
        </label>

        <input type="file"
               name="uploadImage"
               class="form-control"
               accept=".jpg,.jpeg,.png,.gif,.webp" />
    </div>

    <button type="submit"
            class="btn btn-outline-success">
        <i class="bi bi-check-circle"></i> Lưu
    </button>

    <a asp-action="Index"
       class="btn btn-outline-secondary">
        <i class="bi bi-arrow-left"></i> Quay lại
    </a>

</form>