@{
    Layout = "_LayoutAdmin";
}
@model CMS.Data.Entities.Product

<h2 class="text-warning">CẬP NHẬT SẢN PHẨM</h2>

<form asp-action="Edit" method="post">

    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label asp-for="Name" class="form-label fw-bold"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label fw-bold">Danh mục</label>
        <select asp-for="CategoryProductId"
                class="form-control"
                asp-items="ViewBag.Categories">
            <option value="">-- Chọn danh mục --</option>
        </select>
    </div>

    <div class="mb-3">
        <label asp-for="Price" class="form-label fw-bold"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="StockQuantity" class="form-label fw-bold"></label>
        <input asp-for="StockQuantity" class="form-control" />
        <span asp-validation-for="StockQuantity" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label fw-bold"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    <div class="mb-3">
            <label asp-for="ImageUrl" class="form-label fw-bold"></label>
            <input asp-for="ImageUrl" class="form-control" type="text" />
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
        </div>

    <button type="submit" class="btn btn-outline-warning">
        <i class="bi bi-pencil-square"></i> Cập nhật
    </button>

    <a asp-action="Index" class="btn btn-outline-secondary">
        <i class="bi bi-arrow-left"></i> Quay lại
    </a>

</form>