@{
    Layout = "_LayoutAdmin";
}
@model CMS.Data.Entities.Customer

<h2 class="text-primary">THÊM KHÁCH HÀNG</h2>

<form asp-action="Create" method="post">

    <div class="mb-2">
        <label>Họ tên</label>
        <input asp-for="FullName" class="form-control" />
    </div>

    <div class="mb-2">
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="mb-2">
        <label>SĐT</label>
        <input asp-for="Phone" class="form-control" />
    </div>

    <div class="mb-2">
        <label>Địa chỉ</label>
        <input asp-for="Address" class="form-control" />
    </div>

    <div class="mb-2">
        <label>Mật khẩu</label>
        <input asp-for="Password" name="Password" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary mt-2">Thêm</button>
    <a asp-action="Index" class="btn btn-secondary mt-2">Quay lại</a>

</form>